
    #header {
        text-align: center;
        height: 30px;
        background-color: aqua;
    }
    #footer {
        margin-top: 50px;
        text-align: center;
        height: 30px;
        /* position: absolute; */
        bottom: 0;
        background-color: aqua;
    }

