<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><h2>Akshay Mahadeo Gaikwad N01496062</h2></header>
    {{{body}}}
    <footer>akshaymg29@gmail.com</footer>
  </body>
</html>