<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
<body>
    <div id="header">
        <header>Dhruv And Akshay</header>
    </div>
    <div id="content">
        <main>{{{body}}}</main>
    </div>
    <div id="footer">
        <footer><a href="dhruvpatel4435@gmail.com">dhruvpatel4435@gmail.com & akshaymg29@gmail.com</a></footer>
    </div>
    </body>
</html>